<div class="container mt-3">
    <div class="d-flex">
        <div class="btn-group">
            <button class="btn btn-primary" btnRadio="Unread"
            [(ngModel)]="container" (click)="loadMessages()"
            >Unread</button>
            <button class="btn btn-primary" btnRadio="Inbox"
            [(ngModel)]="container" (click)="loadMessages()"
            >Inbox</button>
            <button class="btn btn-primary" btnRadio="OutBox"
            [(ngModel)]="container" (click)="loadMessages()"
            >OutBox</button>
        </div>
    </div>   
</div>
@if(!messageService.paginatedResult()?.items || messageService.paginatedResult()?.items?.length===0)
{
    <h3>No Messages For You</h3>
}
@else{
    <table class="table table-hover mt-3" style="cursor: pointer;">
        <thead>
            <tr>
                <th style="width: 30px;">Messages</th>
                <th style="width: 20px;">From / To</th>
                <th style="width: 20px;">Sent</th>
                <th style="width: 20px;">Message</th>
            </tr>
        </thead>
        <tbody>
                 @for (message of messageService.paginatedResult()?.items; track message.id) 
                 {
                    <tr routerLink="{{getRoute(message)}}"
                    [queryParams]="{tab:'Messages'}">
                        <td>
                            {{message.content}}
                        </td>
                        <td>
                            <div>
                                <img [src]="isOutbox ? 
                                (message.recipientPhotoUrl || './assests/user.png')
                                :(message.senderPhotoUrl || './assests/user.png')"
                                class="rounded-circle" style="max-height: 50px;"
                                alt="User Image">
                                <strong>
                                    {{container==='OutBox' ?
                                    message.recipientUsername : message.senderUsername}}
                                </strong>
                            </div>
                        </td>
                        <td>
                            {{message.messageSent | timeago}}
                        </td>
                        <td (click)="$event.stopPropagation()">
                            <button (click)="deleteMessage(message.id)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
        </tbody>
    </table> 
}

@if (messageService.paginatedResult()?.pagination && messageService.paginatedResult()?.items?.length !> 0) {
    <div class="d-flex justify-content-center">
        <pagination 
        [boundaryLinks]="true" 
        [totalItems]="messageService.paginatedResult()?.pagination!.totalItems"
        [maxSize]="10"
        [itemsPerPage]="messageService.paginatedResult()?.pagination!.itemsPerPage"
        [(ngModel)] = "messageService.paginatedResult()?.pagination!.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
        </pagination>
    </div>
}





